body{
    background-color:#D18CE0;
}
h1{
text-align: center;
color:#000000;
font-size: 50px;
font-weight: bolder;
font-family: 'Source Code Pro', monospace;
}
td{
    padding: 20px;
}
.league{
    font-family: 'Source Code Pro', monospace;
    font-size: xx-large;
    
}
p{
    font-family: 'Source Code Pro', monospace;
    font-size: x-large;


}